{% extends "header.html" %}
{% block content %}
	{% if start %}
		<script>
		{% for var in variables %}
			sessionStorage.{{ var.var_name }} = "{{ var.default_value }}";
		{% endfor %}
		</script>
	{% endif %}

	{% for op in operations %}
		<script> sessionStorage.{{ op[0] }} {{ op[1] }} '{{ op[2] }}' </script>
	{% endfor %}

	{% for info in infos %}
		<div class="row">
			<div class="col-sm-4"></div><div class="col-sm-4">
				{% if info[0] == "text" %}
					<p class="text-center">{{ info[1] }}</p>
				{% elif info[0] == "image" %}
					<img src="{{ url_for('static', filename=info[1]) }}" class="img-responsive">
				{% endif %}
			</div>
		</div>
	{% endfor %}

	<div class="col-sm-4"></div><div class="col-sm-4">
	<div class="btn-group-vertical center-block">
	<script>var fail=false;</script>
	{% for option in options %}
		<div id="option-{{ loop.index }}"></div>
		<script>fail=false;</script>
		{% for test in option[2] %}
			<script> if (!(sessionStorage.{{ test[0] }} {{ test[1] }} '{{ test[2] }}')) { fail=true; } </script>
		{% endfor %}
		<script>if (fail == false) {
			var elem_a = document.createElement('a');
			elem_a.setAttribute('href', '/{{ option[1] }}');
			var butt = document.createElement('button');
			butt.setAttribute('class', 'btn-primary btn-block center-block');
			{% if option[0][0] == 'text' %}
				var butt_txt = document.createTextNode('{{ option[0][1] | safe }}');
				butt.appendChild(butt_txt);
			{% elif option[0][0] == 'image' %}
				var butt_img = document.CreateElement('img');
				butt_img.setAttribute('src', '{{ url_for('static', filename=options[0][1]) }}');
				butt_img.setAttribute('class', 'img-responsive');
				butt.appendChild(butt_img);
			{% endif %}
			elem_a.appendChild(butt);
			document.getElementById('option-{{ loop.index }}').appendChild(elem_a);}
		</script>
	{% endfor %}
	</div></div>

{% endblock %}
